/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.page-header {

}
.page-nav {

}

.main-logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.text-blue {
    color:#2e2f42;
}
.text-sky {
    color: #f4f4fd;
}

.nav-list {

}

.nav-list-element {

}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    cursor: pointer;
    color:#2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;;
}

.address-list {
    font-style: normal;
}

.address-list-element {

}

.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    cursor: pointer;
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404bbf;
}

.section-main-title {
    background-color: #2e2f42;
}

.title-main {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-title-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.main-title-button:hover,
.main-title-button:focus {
    background-color: #404bbf;
}

.section-info {

}

.title-info {

}

.list-info {

}

.list-info-elements {

}

.info-elements-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.info-elements-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-our-team {
    background-color: #f4f4fd;
}

.title-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
}

.list-team {

}

.list-team-element {
background-color: #fff;
}

.list-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.list-team-positions {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.section-our-portfolio {

}

.title-our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-portfolio {

}

.list-portfolio-element {

}

.list-portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-portfolio-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
}

.page-footer-text {  
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}